* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 10;
  overflow: hidden;
  transition: opacity 1s ease;
}

.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading.fade-out {
  opacity: 0;
  visibility: hidden;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.code {
    position: absolute;
    top: 0;
    color: #00ff00;
    font-size: 20px;
    animation: fall linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.wrapper {
  perspective: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 600px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #fff;
  border-radius: 10px;
  z-index: 1;
  transition: transform 0.2s ease;
}

#profile-container:hover {
  box-shadow: 0px 0px 20px 10px rgb(255, 255, 255);
}

.profile-video {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.profile-video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.username {
  font-size: 2em;
  margin-top: 20px;
}

.badge-container {
  display: inline-flex;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 10px;
  width: fit-content;
}

.badge {
  margin: 0 10px;
  position: relative;
}

.badge img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.badge[title]:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.9em;
}

.description {
  font-size: 1.2em;
  margin-top: 20px;
}
